@import 'reset';
@import 'variables';

h1, h2, h3, p, div, span, li, a {
	font-family: $font;
}

body{
	height: 100vh;
	.swiper-container{
		height: 100vh;
		.swiper-wrapper{
			.intro{
				background-color: $firstColor;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				h1{
					font-size: 5em;
					font-weight: bold;
					color: white;
				}
				p{
					color: white;
					text-align: center;
					font-size: 1.5em;
					line-height: 2em;
					span{
						display: block;
						text-decoration: underline;
					}
				}
			}
		}
	}
}